.header-content {
    margin-left: 330px;
    padding-top: 20px;
}

.header-heading {
   margin: 0;
}

.site-temp {
    width: 300px;
}

.site-check {
    margin-left: -270px;
}

.form-content {
    margin-left: -185px;
    margin-top: -20px;
}

.site-button {
    width: 150px;
}
